* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cube {
    width: 200px;
    height: 200px;
    perspective: 800px;
}
.eixo {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate ease 8s infinite;
}
.cube-face {
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(255, 255, 255, 0) 50%, rgba(0, 195, 255, .5) 100%);
}
.face-front {
    position: absolute;
    transform: translateX(-100px) rotateY(90deg);
}
.face-top {
    position: absolute;
    transform: translateY(100px) rotateX(90deg);
}
.face-back {
    position: absolute;
    transform: translateX(100px) rotateY(90deg);
}
.face-bottom {
    position: absolute;
    transform: translateY(-100px) rotateX(90deg);
}
.face-left {
    position: absolute;
    transform: translateZ(100px) rotateY(180deg);
}
.face-right {
    position: absolute;
    transform: translateZ(-100px) rotateY(180deg);
}
@keyframes rotate {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
        transform: rotateY(0deg) rotateX(0deg);
    }
    20% {
        transform: rotateX(90deg) rotateY(90deg);
        transform: rotateY(90deg) rotateX(90deg);
    }
    40% {
        transform: rotateX(180deg) rotateY(180deg);
        transform: rotateY(180deg) rotateX(180deg);
    }
    60% {
        transform: rotateX(270deg) rotateY(270deg);
        transform: rotateY(270deg) rotateX(270deg);
    }
    80% {
        transform: rotateX(360deg) rotateY(360deg);
        transform: rotateY(360deg) rotateX(360deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg);
        transform: rotateY(0deg) rotateX(0deg);
    }
}